/* Style Guide */

/* Reference viewport width
  - Mobile: 375px
  - Desktop: 1440px
  */

:root {
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(32, 38%, 92%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

:where(p) {
  font-size: 14px;
}


/* Main style */

:where(body) {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  gap: 16px;

  background-color: var(--cream);
}

:where(main) {
  flex-grow: 1;
  padding: 16px;
}

/* Mobile Layout */

:where(.product) {
  --border-radius: 6px;
  overflow: hidden;

  border-radius: var(--border-radius);
  background-color: white;
}

:where(.product img) {
  object-fit: cover;
}

:where(.product .content) {
  padding: 16px;
}

:where(.product .category) {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
}

:where(.product .title) {
  font-family: "Fraunces";
  font-size: 30px;
  font-weight: 700;
  margin-top: 6px;
  margin-bottom: 6px;
  letter-spacing: 0.02rem;
  color: var(--very-dark-blue);
}

:where(.product .description) {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.5;
  color: var(--dark-grayish-blue);
}

:where(.product .price) {
  display: flex;
  gap: 24px;
  align-items: center;

  margin-bottom: 24px;
}

:where(.product .current-price) {
  font-family: "Fraunces";
  color: var(--dark-cyan);
  font-size: 30px;
}

:where(.product .original-price) {
  font-family: "Montserrat";
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}

:where(.product .add-to-cart) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
  height: 42px;

  border: none;
  border-radius: var(--border-radius);

  font-family: "Montserrat";
  font-weight: 700;
  background-color: var(--dark-cyan);
  color: white;
}

/* Desktop Layout */

@media (min-width: 480px) {
  :where(.product) {
    display: flex;
  }

  :where(.product .image) {
    width: 50%;
  }

  :where(.product .content) {
    width: 50%;
  }
}

/* Attribution */

:where(.attribution) {
  font-size: 11px;
  text-align: center;
}

:where(.attribution a) {
  color: hsl(228, 45%, 44%);
}
